@font-face {
    font-family: Poppins-Regular;
    src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../Fonts/Poppins/Poppins-Bold.ttf");
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: Poppins-Regular;
}

.wrapper {
    /*background-color: #0078d4;*/
    background: linear-gradient(11deg, rgba(49,150,156,1) 54%, rgba(255,255,255,1) 100%);
}

.tabs {
    padding: 8px 0;
    font-size: 15px;
    list-style: none;
    display: inline-block;
    border-radius: 50px;
    position: relative;
}

.tabs a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    /*display: inline-block;*/
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
}

.tabs a.active {
    /*color: #0078d4;*/
}

/*.tabs .selector {*/
/*    height: 100%;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    z-index: 1;*/
/*    border-radius: 7px;*/
/*    transition-duration: 0.6s;*/
/*    !*background: #ffffff;*!*/
/*    !*background: #4b5563;*!*/
/*    background-color: rgba(255, 255, 255, 0.3);*/
/*}*/

.tabs .selector {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition-duration: 0.6s;
    border-bottom: #ffffff 2px solid;
}
/*Scroll Bar*/

body::-webkit-scrollbar {
    width: 0.4em;
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 40px;
    outline: 1px solid slategrey;
}

/*Presenter*/
/*section:first-of-type {*/
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/wp7537837.png');;*/
/*    background-size: cover;*/
/*}*/

/*section:first-of-type div{*/
/*    backdrop-filter: blur(15px);*/
/*}*/

section[name="services"] > div div:hover{
    transform: scale(1.01);
}


section[name="services"] > div img{
    top: -2px;left: 7%;z-index: 1;
}
@media (min-width: 450px){
    section[name="services"] > div img{
        top: -10px;left: 7%;z-index: 1;
    }

}


section[name="services"] > div div{
    border-color: rgba(49,150,156,1);
    /*border-image: linear-gradient(11deg, rgba(49,150,156,1) 54%, rgba(255,255,255,1) 100%);*/
    /*border-image-source: linear-gradient(to left, rgba(49,150,156,1), rgba(255,255,255,1));*/
    /*border-image-slice: 1;*/
}

/*Carousel*/

/* Slideshow container */
/*.slideshow-container {*/
/*    max-width: fit-content;*/
/*    position: relative;*/
/*    margin: auto;*/
/*}*/

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    width: auto;
    /*margin-top: -22px;*/
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /*border-radius: 0 3px 3px 0;*/
    border-radius: 3px;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activeNext, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/*Footer*/
footer{
    background-color: #f8f9fa;
}