:root {
    --seaGreen: rgba(49, 150, 156, 1);
    --nLessRed: #DC2626; /*text-red-600*/
    --nLessGray: rgb(156, 163, 175);
    --nLessDarkGray: rgb(107, 114, 128);
    --nLessGradient: linear-gradient(90deg, rgba(170,32,204,1) 43%, rgba(69,93,214,1) 79%);
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../Fonts/Poppins/Poppins-Bold.ttf");
}

html {
    scroll-padding-top: 3.5rem; /* height of sticky header */
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: Poppins-Regular;
    scroll-behavior: smooth;
}

.wrapper {
    /*background-color: #0078d4;*/
    /*background: linear-gradient(11deg, rgba(49, 150, 156, 1) 54%, rgba(255, 255, 255, 1) 100%);*/
    background: white;
}

.tabs {
    padding: 8px 0;
    font-size: 15px;
    list-style: none;
    display: inline-block;
    border-radius: 50px;
    position: relative;
}

.tabs a {
    text-decoration: none;
    /*color: #fff;*/
    padding: 10px 20px;
    /*display: inline-block;*/
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
}

.tabs a.active {
    /*color: #0078d4;*/
}

/*.tabs .selector {*/
/*    height: 100%;*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    z-index: 1;*/
/*    border-radius: 7px;*/
/*    transition-duration: 0.6s;*/
/*    !*background: #ffffff;*!*/
/*    !*background: #4b5563;*!*/
/*    background-color: rgba(255, 255, 255, 0.3);*/
/*}*/

.tabs .selector {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition-duration: 0.6s;
    /*border-bottom: #ffffff 2px solid;*/
    border-bottom: var(--nLessRed) 2px solid;
}

/*HamBurger*/
/* Icon 3 */
#nav-icon3 {
    width: 35px;
    height: 30px;
    /*position: relative;*/
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    /*background: #ffffff;*/
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    /*top: 18px;*/
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    /*top: 36px;*/
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 5px;
    width: 0%;
    left: 50%;
}


/*Scroll Bar*/

body::-webkit-scrollbar {
    width: 0.4em;
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 40px;
    outline: 1px solid slategrey;
}

/*Presenter*/
/*section:first-of-type {*/
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/wp7537837.png');;*/
/*    background-size: cover;*/
/*}*/

/*section:first-of-type div{*/
/*    backdrop-filter: blur(15px);*/
/*}*/

/*section[name="services"] > div div:hover {*/
/*    transform: scale(1.01);*/
/*}*/

section[name="services"] > div div:hover img {
    z-index: 1;
}


section[name="services"] > div img {
    top: -2px;
    left: 7%;
    /*z-index: 1;*/
}

@media (min-width: 450px) {
    section[name="services"] > div img {
        top: -10px;
        left: 7%;
        /*z-index: 1;*/
    }

}


section[name="services"] > div div {
    border-color: black;
}

.collapsed {
    min-height: 11rem;
}

div[name='service'] * {
    cursor: pointer;
}


/*Carousel*/

/* Slideshow container */
/*.slideshow-container {*/
/*    max-width: fit-content;*/
/*    position: relative;*/
/*    margin: auto;*/
/*}*/

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    width: auto;
    /*margin-top: -22px;*/
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /*border-radius: 0 3px 3px 0;*/
    border-radius: 3px;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activeNext, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*Product Slides*/

/* Slideshow container */
section[name='products'] .slideshow-container {
    /*max-width: fit-content;*/
    position: relative;
    margin: auto;
}

/* Hide the images by default */
/*section[name='products'] .myProducts {*/
/*    display: none;*/
/*}*/

/* Next & previous buttons */
.prevProd, .nextProd {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextProd {
    right: 0;
}

/* Position the "next button" to the right */
section[name='products'].nextProd {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
section[name='products'] .prevProd:hover, .nextProd:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
section[name='products'] .dotProduct {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Fading animation */
section[name='products'].fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

section[name='products'].active {
    color: #717171;
}

section[name='products'].active_1, section[name='products'].dotProduct:hover {
    background-color: black;
}

section[name='products'].nav ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 14px;
}

section[name='products'].stick {
    background-color: #4A90E2;
}

section[name='products'] a:not(.bg-gray-300) {
    /*color: #31969c;*/
    /*color: black;*/
    color: var(--nLessGray);
}

section[name='products'] a svg {
    color: black;
    /*color: var(--nLessGray);*/
}

.myProducts > div > div {
    /*height: 30rem;*/
    height: 10rem;
}


/*@media (max-width: 1024px) {*/

/*    .myProducts > div > div {*/
/*        height: 37rem;*/
/*    }*/

/*}*/

/*@media (max-width: 800px) {*/
/*    .myProducts > div > div {*/
/*        height: 50rem;*/
/*    }*/
/*}*/

/*@media (max-width: 600px) {*/
/*    .myProducts > div > div {*/
/*        height: 70rem;*/
/*    }*/
/*}*/

/*@media (max-width: 380px) {*/
/*    .myProducts > div > div {*/
/*        height: 80rem;*/
/*    }*/
/*}*/

/*Social Icons*/
.social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 5px;
    transition: 1s;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
}

.social-btn:hover {
    width: 150px;
    border-radius: 5px;
    z-index: 100;
}


.social-btn:hover span {
    padding: 2px;
    width: max-content;
}

.socialIconsDiv {
    display: none;
    position: fixed;
}


/*Footer*/
footer {
    background-color: #f8f9fa;
}


/*********************************************************************************/


/*@media (max-width: 768px) {

    .service{
        transform: translateX(400%);
        transition: transform 0.8s ease;
    }

    .service:nth-of-type(even){
        transform: translateX(-400%);
    }

    .service.show{
        transform: translateX(0);
    }

}*/
/*

@media (max-width: 768px) {

    #BIS {
        transform: translateX(400%);
        transition: transform 0.8s ease;
    }

    #BIS.show {
        transform: translateX(0);
    }

}
*/
